<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card">
            <div class="card-header">
                <h3>Successful</h3>
            </div>
            <div class="card-body">
                <p>Transfer done successfully.</p>
                <p>
                    <a class="btn btn-outline-info" asp-action="Index" asp-controller="Dashboard">Go Back To Dashboard</a>
                </p>
            </div>
        </div>
    </div>
</div>